In [1]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\admin\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pandas>=1.4.0 in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (1.5.0)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (0.11.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (2.0.7)
Requirement already satisfied: packaging in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (25.0)
Requirement already satisfied: numpy>=1.22 in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (2.0.2)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\admin\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2025.10.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.4.0->geopandas) (1.16.0)

In [11]:
import geopandas as gpd

filename = 'kecamatan.geojson' 
df = gpd.read_file(filename)
print(type(df))
df

<class 'geopandas.geodataframe.GeoDataFrame'>

,objectid_1,objectid,no_prop,no_kab,no_kec,kode_prop_spatial,kode_kab_spatial,kode_kec_spatial,nama_prop,nama_kab,...,nelayan,pelajar_mahasiswa,guru,wiraswasta,pengacara,field19,field20,st_area(shape),st_length(shape),geometry
0,58281,None,13.0,5.0,15.0,13.0,1305.0,130515.0,SUMATERA BARAT,PADANG PARIAMAN,...,4.0,7568.0,127.0,604.0,1.0,-,-,0.017084,0.726450,"POLYGON ((100.31742 -0.45483, 100.31759 -0.454..."
1,58282,None,53.0,5.0,18.0,53.0,5305.0,530518.0,NUSA TENGGARA TIMUR,ALOR,...,50.0,1765.0,51.0,19.0,NaN,-,-,0.010495,0.654875,"POLYGON ((124.48067 -8.35612, 124.48063 -8.356..."
2,58283,None,51.0,7.0,5.0,51.0,5107.0,510705.0,BALI,KARANGASEM,...,1428.0,7896.0,220.0,5434.0,2.0,-,-,0.010823,0.658769,"POLYGON ((115.61984 -8.30652, 115.61976 -8.306..."
3,58284,None,91.0,71.0,3.0,91.0,9171.0,917103.0,PAPUA,KOTA JAYAPURA,...,204.0,27997.0,669.0,14618.0,22.0,-,-,0.019995,0.984936,"MULTIPOLYGON (((140.674 -2.58291, 140.67316 -2..."
4,58285,None,51.0,3.0,3.0,51.0,5103.0,510303.0,BALI,BADUNG,...,1.0,20225.0,419.0,10671.0,11.0,-,-,0.005450,0.523845,"POLYGON ((115.22951 -8.4546, 115.22936 -8.4543..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7280,65561,None,73.0,9.0,7.0,73.0,7309.0,730907.0,SULAWESI SELATAN,MAROS,...,24.0,4229.0,109.0,2329.0,1.0,-,-,0.006282,0.477480,"MULTIPOLYGON (((119.59506 -5.04547, 119.5948 -..."
7281,65562,None,63.0,9.0,3.0,63.0,6309.0,630903.0,KALIMANTAN SELATAN,TABALONG,...,1.0,4444.0,97.0,3935.0,1.0,-,-,0.012177,0.570727,"POLYGON ((115.37462 -2.17629, 115.37375 -2.172..."
7282,65563,None,12.0,8.0,28.0,12.0,1208.0,120828.0,SUMATERA UTARA,SIMALUNGUN,...,1.0,7104.0,286.0,6986.0,2.0,-,-,0.010281,0.502015,"POLYGON ((99.10981 3.13812, 99.10987 3.14069, ..."
7283,65564,None,63.0,5.0,2.0,63.0,6305.0,630502.0,KALIMANTAN SELATAN,TAPIN,...,2.0,3486.0,38.0,3893.0,NaN,-,-,0.011838,0.542926,"POLYGON ((115.13521 -2.97625, 115.13432 -2.972..."
7284,65565,None,35.0,15.0,1.0,35.0,3515.0,351501.0,JAWA TIMUR,SIDOARJO,...,14.0,6623.0,710.0,1792.0,2.0,-,-,0.002996,0.323844,"POLYGON ((112.51927 -7.42448, 112.51899 -7.424..."

In [13]:
print("Daftar kolom dalam DataFrame:")
print(df.columns.tolist())
print(f"\nTotal kolom: {len(df.columns)}")

Daftar kolom dalam DataFrame:
['objectid_1', 'objectid', 'no_prop', 'no_kab', 'no_kec', 'kode_prop_spatial', 'kode_kab_spatial', 'kode_kec_spatial', 'nama_prop', 'nama_kab', 'nama_kec', 'jumlah_desa', 'jumlah_kelurahan', 'jumlah_penduduk', 'jumlah_kk', 'luas_wilayah', 'kepadatan_penduduk', 'perpindahan_pddk', 'jml_meninggal', 'perubahan_data', 'jml_wktp', 'jml_rekam_wktp', 'field1', 'field2', 'islam', 'kristen', 'katholik', 'hindu', 'budha', 'konghucu', 'kepercayaan', 'field3', 'field4', 'pria', 'wanita', 'field5', 'field6', 'kawin', 'belum_kawin', 'cerai_hidup', 'cerai_mati', 'field7', 'field8', 'u0', 'u5', 'u10', 'u15', 'u20', 'u25', 'u30', 'u35', 'u40', 'u45', 'u50', 'u55', 'u60', 'u65', 'u70', 'u75', 'field9', 'field10', 'lhr_2018', 'lhr_sebelum_2018', 'lhr_2019', 'lhr_sebelum_2019', 'lhr_2020', 'lhr_sebelum_2020', 'lhr_2021', 'lhr_sebelum_2021', 'lhr_2022', 'lhr_sebelum_2022', 'pertumbuhan_2018', 'pertumbuhan_2019', 'pertumbuhan_2020', 'pertumbuhan_2021', 'pertumbuhan_2022', 'field11', 'field12', 'usia_sekolah5_6', 'usia_sekolah7_12', 'usia_sekolah12_15', 'usia_sekolah16_18', 'field13', 'field14', 'tidak_blm_sekolah', 'belum_tamat_sd', 'tamat_sd', 'sltp', 'slta', 'd1_dan_d2', 'd3', 's1', 's2', 's3', 'field15', 'field16', 'o', 'b_', 'b1', 'o_', 'ab_', 'a', 'tidak_tahu', 'ab1', 'a_', 'a1', 'o1', 'b', 'ab', 'field17', 'field18', 'pensiunan', 'mengurus_rumah_tangga', 'belum_tidak_bekerja', 'lainnya', 'perdagangan', 'perawat', 'nelayan', 'pelajar_mahasiswa', 'guru', 'wiraswasta', 'pengacara', 'field19', 'field20', 'st_area(shape)', 'st_length(shape)', 'geometry']

Total kolom: 127

In [ ]:
kolom_relevan = [
    'objectid', 'kode_kec_spatial', 'nama_prop', 'nama_kab', 'nama_kec',
    'jumlah_penduduk', 'kepadatan_penduduk', 'jumlah_kk', 'luas_wilayah',
    'pertumbuhan_2022', 'pertumbuhan_2021', 'pertumbuhan_2020',
    'perpindahan_pddk',
    'jumlah_desa', 'jumlah_kelurahan',
    'perdagangan', 'nelayan', 'wiraswasta',
    'tidak_blm_sekolah', 'slta', 's1'
]

df_filtered = df[kolom_relevan].copy()

print(f"DataFrame original: {len(df.columns)} kolom")
print(f"DataFrame filtered: {len(df_filtered.columns)} kolom")
print(f"Total baris: {len(df_filtered)}")
print("\nKolom yang dipilih:")
for i, col in enumerate(kolom_relevan, 1):
    print(f"  {i}. {col}")
    
df_filtered.head()

✓ DataFrame original: 127 kolom
✓ DataFrame filtered: 21 kolom
✓ Total baris: 7285

Kolom yang dipilih:
  1. objectid
  2. kode_kec_spatial
  3. nama_prop
  4. nama_kab
  5. nama_kec
  6. jumlah_penduduk
  7. kepadatan_penduduk
  8. jumlah_kk
  9. luas_wilayah
  10. pertumbuhan_2022
  11. pertumbuhan_2021
  12. pertumbuhan_2020
  13. perpindahan_pddk
  14. jumlah_desa
  15. jumlah_kelurahan
  16. perdagangan
  17. nelayan
  18. wiraswasta
  19. tidak_blm_sekolah
  20. slta
  21. s1

,objectid,kode_kec_spatial,nama_prop,nama_kab,nama_kec,jumlah_penduduk,kepadatan_penduduk,jumlah_kk,luas_wilayah,pertumbuhan_2022,...,pertumbuhan_2020,perpindahan_pddk,jumlah_desa,jumlah_kelurahan,perdagangan,nelayan,wiraswasta,tidak_blm_sekolah,slta,s1
0,None,130515.0,SUMATERA BARAT,PADANG PARIAMAN,2 X 11 KAYU TANAM,29520.0,21.866754,9193.0,208.72,1.0,...,1.0,156.0,4.0,NaN,21.0,4.0,604.0,5320.0,7513.0,1068.0
1,None,530518.0,NUSA TENGGARA TIMUR,ALOR,ABAD SELATAN,6615.0,2.206546,1794.0,NaN,1.0,...,1.0,18.0,7.0,NaN,NaN,50.0,19.0,1438.0,856.0,156.0
2,None,510705.0,BALI,KARANGASEM,ABANG,88271.0,104.423001,26610.0,134.70,1.0,...,2.0,103.0,14.0,NaN,208.0,1428.0,5434.0,31935.0,9859.0,1444.0
3,None,917103.0,PAPUA,KOTA JAYAPURA,ABEPURA,121955.0,146.156875,40720.0,149.91,1.0,...,1.0,977.0,3.0,8.0,200.0,204.0,14618.0,26284.0,43019.0,11900.0
4,None,510303.0,BALI,BADUNG,ABIANSEMAL,99364.0,248.133538,27538.0,66.98,1.0,...,1.0,120.0,18.0,NaN,741.0,1.0,10671.0,18210.0,32337.0,6979.0

In [ ]:
output_filtered = 'kecamatan_filtered.csv'
df_filtered.to_csv(output_filtered, index=False, encoding='utf-8')
print(f'Data filtered berhasil diekspor ke: {output_filtered}')

✓ Data filtered berhasil diekspor ke: kecamatan_filtered.csv